<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsh.zhaolong">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/logo"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <activity
        android:name="com.fsh.zhaolong.ui.MainActivity"
        android:label="@string/app_name">

    </activity>
    <activity
        android:name="com.fsh.zhaolong.swiperecyclerview.MainActivity"
        android:label="@string/app_name">

    </activity>
    <activity
        android:name="com.fsh.zhaolong.ui.test.TestActivity"
        android:label="@string/app_name">

    </activity>
    <activity
        android:screenOrientation="landscape"
        android:name="com.fsh.zhaolong.ui.login.LoginActivity"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:screenOrientation="landscape"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"
        android:name="com.fsh.zhaolong.ui.increse.AddActivity"
    >

    </activity>
    <activity
        android:screenOrientation="landscape"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"
        android:name="com.fsh.zhaolong.ui.detail.DetailActivity"
    >

    </activity>
    <activity
        android:screenOrientation="landscape"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"
        android:name="com.fsh.zhaolong.ui.search.SearchActivity"
    >

    </activity>
    <activity
        android:screenOrientation="landscape"
        android:name="com.fsh.zhaolong.ui.main.MainActivity"

        android:label="@string/app_name">

    </activity>
    <activity
        android:screenOrientation="landscape"
        android:name="com.fsh.zhaolong.ui.unitid.UnitidActity"
    >

    </activity>
    <activity
        android:screenOrientation="landscape"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"
        android:name="com.fsh.zhaolong.ui.main.edit.EditActivity"
    />
    <activity
        android:screenOrientation="landscape"
        android:name=".ui.print.PrintActivity"
        android:label="@string/title_activity_print"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"
    ></activity>

  </application>

</manifest>
